*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav{
   width: 77.5%;
   margin: auto;
   border-bottom:1px solid rgb(207, 198, 198);
   display: flex;
   justify-content: space-between;
   height: 72px;
   align-items: center;

}
#image img{
    width: 120px;
    padding-left:39.5px;
    padding-top: 10px;
}
#buttons{
    padding: 0 10px;
}
#buttons button{
    margin: 0 5px;
    padding:  9.5px 15px;
    border-radius: 5px;
    border: 0;
    font-size:0.8rem;
    font-weight: 600;
}
#buttons #log{
    background-color:#1895f5 ;
    color: white;
}
#buttons #sign{
    background-color:white ;
    color: #1895f5;
}
#buttons button:hover{
    cursor: pointer;
}

section{
    border-bottom: 1px solid rgb(220, 205, 205);
    width: 60%;
    margin: auto;
    height: 329px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    gap: 130px;
    padding-top:30px ;
}
#profile img{
    margin-top: 45px;
    width: 150px;
    border-radius: 50%;
}
 #username{
    margin-right: 100px;
    display: flex;
    justify-content: space-between;
    width: 400px;
    margin-bottom: 20px;
}
#username h2{
    font-weight: 400;
    font-size: 20px;
}

#username button{
    border: 0;
    padding: 8px 15px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 550;
}
#username #lastbtn{
    background-color: transparent;

}
#posts{
    display: flex;
    justify-content: space-between;
    width: 350px;
    margin-bottom: 20px;
}
#posts span{
    font-weight: 700;
}
#bio #name{
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 4px;
}
#bio #edu{
    color: gray;
}
#bio #bio-content{
    height: 85px;
}
#bio-content p{
    padding-bottom: 5px;
}
i{
    color: gold;
}
#link{
    font-weight: 500;
    color:#00376b;
}
#main{
    /* border: 1px solid black; */
    padding-top: 0;
    display: flex;
    justify-content: center;
    font-size: 14px;
}
#main #p1{
    border-top:1px solid black ;
    padding: 10px 30px;
}
#main p{
    padding: 10px 0px;
}